CMakeCache.txt
CMakeFiles
Makefile
*.cmake
*.a
*.o
*.dll
*.lib
*.pdb
*.dylib
bin
lib
build
Testing
Test*.cc
.project
.cproject
Doxyfile
api-doc
*.vcproj*
*.sln
*.ncb
*.suo
*.dir
sparks/sparks
paint/paint
sierpinski/sierpinski
shooting-gallery/shooting-gallery
